body {
  margin-top: 35px;
}

.content {
  margin-top: 30px;
}

#root {
  margin: 55px;
}

.css-1hwfws3 {
  width: 150px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
